

  body {
    background-color: #6e90b3
  }


  h1{
    background-color: rgb(47, 47, 183);
    padding: 20px;
    text-align: center;
    font: 30;
    color: rgb(255, 255, 255)
  }

  div.box {
       
    border: 3px solid rgb(183, 34, 17);
    padding: 3px;
    margin: auto;

    
  }

  div.center{
    border: 2px solid black;
    padding: 2px;
    text-align: center;
   
  }

  div.marg{
    position: relative;
    left: 130px;
  }

 div.text{
  font: bolder;
 }

 div.contact{
  position: absolute;
  left: 300px;
  background-color: rgb(47, 47, 183);
  padding: 5px;
  color:rgb(255, 255, 255);
 }
